.editor-element, .editor-dropdown button {
    margin: 0px 2px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    position: relative;
}

.editor-element svg {
    margin: 3px;
}

.editor-element span {
    display: none;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    z-index: 100;
    left: -10px;
    margin: 10px;
    width: max-content;
    position: absolute;
    top: 20px;
    text-decoration: none
}

.editor-element:hover span {
    display: block;
}

.editor-element:hover, .editor-element.active {
    background-color: #ebebeb;
}

.editor-popup>div{
    margin-top: 10px;
}


ol.editor_ordered_list_lowerGreek {
    list-style-type: lower-greek;
}
ol.editor_ordered_list_lowerLatin {
    list-style-type: lower-latin;
}
ol.editor_ordered_list_upperLatin {
    list-style-type: upper-latin;
}
ol.editor_ordered_list_lowerRoman {
    list-style-type: lower-roman;
}
ol.editor_ordered_list_upperRoman {
    list-style-type: upper-roman;
}
ol.editor_ordered_list_lowerAlpha {
    list-style-type: lower-alpha;
}
ol.editor_ordered_list_upperAlpha {
    list-style-type: upper-alpha;
}

ul.editor_ordered_list_circle {
    list-style-type: circle;
}
ul.editor_ordered_list_disc {
    list-style-type: disc;
}
ul.editor_ordered_list_square {
    list-style-type: square;
}

input.tesodev-control {
    border: 0;
    border-bottom: 1px solid #a2a2a2;
    outline: none;
    min-width: 100%;
    max-width: 100%;
    background: transparent;
    font-size: 16px;
}

input[type='checkbox'].tesodev-control {
    width: 30px !important;
    height: 30px !important;
    font-size: 2em;
    cursor: pointer;
}

input:focus.tesodev-control {
    border-bottom: 1px solid #00447b;
}

.tesodev-control:focus ~ .tesodev-floating-label,
.tesodev-control ~ .tesodev-floating-label {/**:not(:focus):not(:placeholder-shown)**/
    top: -2px;
    left: 2px;
    font-size: 11px;
    opacity: 1;
    color: #00447b;
}

.tesodev-control {
    font-size: 14px;
    height: 45px;
}

.tesodev-floating-label {
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    opacity: 0.6;
    left: 20px;
    top: 20px;
    transition: 0.3s ease all;
}

.input-field {
    position: relative;
}

select{
    margin-top: 8px;
}

.table_cell.hover{
    background-color: #1e347b;
}
table{
    border: none;
    border-collapse: collapse;
    empty-cells: show;
    max-width: 100%;
    width: 100%;
}
table td{
    padding: 2px 5px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    min-width: 5px;
}
/*table td:focus{*/
    /*border: 1px solid #1e347b;*/
/*}*/